.articleList{
    box-sizing: border-box;
}
.articleList a{
    display: block;
    padding: 10px 15px;    
    color: #3c3c3c;
}
.articleList span{
    margin-right: 30px;
    margin-left: 5px;
}
.home_title{
    font-size: 28px;
}
.home_text{
    line-height: 30px;
}
.articleList{
    margin-bottom: 30px;
    background: #fff;
    opacity: .5;
}