<div class="articleList">
  <a>
    <h3 class="home_title">个人博客从肩部反</h3>
    <p>
      <i class="anticon anticon-tags"></i><span>【日记】</span>
      <i class="anticon anticon-calendar"></i><span>【2018-09-31】</span>
      <i class="anticon anticon-eye"></i><span>【345】</span>
    </p>
    <p class="home_text">
        {{"最近看到在网上有一个帖子，题目为《红军长征成功，只因沿途军阀出兵不出力》。粗略一看，不过是老调重弹而已。这么多年以来，无数的自命不凡的“精英”试图证明共产党的成功只是种种投机取巧之下的巧合，其目的，不外乎是欲亡人国，先乱其史的套路。以前我是不屑于跟这群人墨迹的，不过在那篇帖子下的评论，让我觉得还是有必要认真的研究一下这个问题的。今天也就花点时间，稍作探讨。首先，讲我党的光辉历史，就得不提马克思主义与中国的那一段情缘。时值一战结束，“崇洋媚外”了几十年的中国人突然在一夜之间发现，欧洲人也有撕逼到互相把狗脑子打出来的时候，资本主义原来也不是尽善尽美的。在五四运动之后，一股命维新思潮的西学东渐运动给中国人带来新的求富图强的方案。马克思主义便是其中一个" | slice:0:200 | addEllipsis }}
    </p>
  </a>
</div>